.border-navigator {
    border-color: rgb(234, 234, 234)!important;
}
.text-logo {
    letter-spacing: 5px;
    text-transform: uppercase;
}
.alert.alert-danger {
    background: #fcd8cd;
    border-color: #fcd8cd;
    color: #000;
    border-radius: 0;
    text-align: center;
}
.alert.alert-success {
    background: #cdfcd2;
    border-color: #cdfcd2;
    color: #000;
    border-radius: 0;
    text-align: center;
}
.navbar-nav .nav-item.active .nav-link {
    border-bottom: 1px solid black;
}
@media (min-width: 768px) {
    .navbar-brand{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}