<!--
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="title">SHIP</h1>
        </div>
    </div>
</div>
-->
<button type="button" (click)="back()" class="btn btn-primary back mt-4">VOLVER</button>
<div class="card ship">
    <div class="row">
        <div class="col-md-6 pb-4">
            <div class="ship-image" [class]="{'h-100': starship.errorImage}" [hidden]="!starship.loadedImage">
                <img *ngIf="!starship.errorImage" class="card-img-top"
                    src="https://starwars-visualguide.com/assets/img/starships/{{starship.id}}.jpg" (load)="onLoadHandler(starship)"
                    (error)="onErrorHandler(starship)" alt="{{starship.name}}">
                <div *ngIf="starship.errorImage" class="error-background"></div>
                <div *ngIf="starship.errorImage" class="error-image">Imagen no disponible</div>
            </div>
        </div>
        <div class="col-md-6 pb-4">
            <div class="card-block px-2">
                <p class="card-text"><b>Nombre: </b><span [textContent]="starship.name"></span></p>
                <p class="card-text"><b>Modelo: </b><span [textContent]="starship.model"></span></p>
                <p class="card-text"><b>Fabricante: </b><span [textContent]="starship.manufacturer"></span></p>
                <p class="card-text"><b>Clase: </b><span [textContent]="starship.starship_class"></span></p>
                <p class="card-text"><b>Costo en créditos: </b><span [textContent]="starship.cost_in_credits"></span></p>
                <p class="card-text"><b>Longitud: </b><span [textContent]="starship.length"></span></p>
                <p class="card-text"><b>Velocidad máxima de atmósfera: </b><span [textContent]="starship.max_atmosphering_speed"></span></p>
                <p class="card-text"><b>Tripulación: </b><span [textContent]="starship.crew"></span></p>
                <p class="card-text"><b>Pasajeros: </b><span [textContent]="starship.passengers"></span></p>
                <p class="card-text"><b>Capacidad de carga: </b><span [textContent]="starship.cargo_capacity"></span></p>
                <p class="card-text"><b>Consumibles: </b><span [textContent]="starship.consumables"></span></p>
                <p class="card-text"><b>Calificación de hiperimpulsor: </b><span [textContent]="starship.consumables"></span></p>
                <p class="card-text"><b>Megaluz (MGLT): </b><span [textContent]="starship.MGLT"></span></p>
                <p class="card-text"><b>Núm. Pilotos: </b><span
                        [textContent]=" starship.pilots ? starship.pilots.length : 0"></span></p>
                <p class="card-text"><b>Núm. Películas: </b><span [textContent]="starship.films ? starship.films.length : 0"></span>
                </p>            
            </div>
        </div>
    </div>
</div>