@font-face {
  font-family: 'BasisGrotesqueRegularPro';
  src: url('assets/fonts/BasisGrotesquePro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BasisGrotesqueBoldPro';
  src: url('assets/fonts/BasisGrotesquePro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}